* {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

section h2 {font-family: 'Playfair Display', 'Times New Roman', Times, serif;}
body
{
    background-color: #fffefe;
 margin: auto;
    color: #AE7C78;
}

.main-header p
{
    color: #AE7C78;
    font-size: 24px;
}
.main-header nav
{
padding: 10px 20px;
display: flex;
justify-content: space-around;
align-items: center;
border-bottom: 1px solid #AE7C78;
border-top: 1px solid #AE7C78;
margin-top: 25px;
}

.main-header nav a
{
    color: #AE7C78;
text-decoration: none;
display: block;
padding: 0 10px 0 10px;
}

.main-header img.logo
{width: 100;}

.main-header h1
{
color: #AE7C78; 
font-family: 'Playfair Display', 'Times New Roman', Times, serif;
font-size: 44px;
font-weight: normal;
margin-top: 0;
}

.main-header h1 span {font-family: 'Playfair Display', 'Times New Roman', Times, serif; font-style: italic;}

.button {
    background-color: #D89999;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
margin-top: 50px;
display: inline-flex;
justify-content: center;
align-items: center;

width: 242px;
height: 80px;
text-align: center;
}

.header-intro {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    height: 440px;
    margin-top: 70px;
    align-items: flex-start;
    aborder: 1px solid black;
}
.header-intro img:nth-child(2) {
   align-self: end;
}
.header-intro img {
    width: 380px;
    height: 400px;
    display: block;
    background-color: #AE7C78;
    border-radius: 10px;
}

.header-info   {
    display: flex;
      width: 80%;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
    }

    .header-info div {
font-size: 16px;
padding: 0 20px;
width: 25%;
    }
    .header-info div p {font-size: 16px;}

    .header-info h6 {font-size: 16px; margin-bottom: 0;}
    }

  /*MAIN кнопка прописана в хедере*/
 section .popular {margin: auto;}
 .popular h2 {text-align: center;} 
.popular-flex {
    display: flex;
    margin: auto;
    justify-content: center;
}

.slider {
    height: 442px;
    background: #AE7C78;
}

.popular h2 {
    font-size: 24px;
}

.popular {
    width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.popular h3 {
    font-family: 'Montserrat';
    font-weight: normal;
}
.price {font-size: 24px;}
.popular img {width: 380px; border-radius: 10px; background: #AE7C78;}

.discount {width: 1200px; margin: auto; }
.discount-flex {background: #AE7C78; display: flex; color: #fff;  justify-content: space-between; margin: auto; margin-top: 100px;}
.discount h2 {font-weight: normal; font-weight: 44px;}
.discount img {flex-basis: 50%; margin-left: 50px; display: block;}
.discount-flex div:first-child {padding-left: 100px;  width: 50%;}

.steps {margin: auto; width: 80%; margin-top: 100px;}
.steps h2 {text-align: center;}
.steps-flex {display: flex;}
.steps-flex div {text-align: center; padding: 0 30px; margin-left: 10px; margin-right: 10px;}

.news {display: flex; justify-content: center; width: 80%; margin: auto;}
.news-img {display: flex; flex-direction: column; justify-content: space-between;}

.news > div, .news > img {margin-left: 20px;}
.news div:first-child {margin-right: 100px;}
.news h2 {font-size: 36px;}

.feedback {border: 1px solid #AE7C78; width: 80%; margin: auto; text-align: center; margin-top: 100px; padding: 20px 20px 40px;}
.feedback-flex {display: flex; justify-content: space-around;  }
.feedback  figcaption {font-weight: bold;}
.feedback h2 {font-size: 36px;}

.map {background: #D89999 url(files/map.png);  background-repeat: no-repeat; height: 645px; background-size: 100%; margin-top: 100px;}
.map-contacts {background: #fffefe; float: left; margin-top:50px; margin-left: 200px; padding: 50px; border-radius: 10px;}
.map-contacts span {font-weight: 500;}
.map-contacts p {padding-bottom: 10px;}
.map-contacts a {color: #AE7C78; font-weight: 500;}

.footer-nav {background-color: #AE7C78; color: #fff; display: flex; justify-content: space-around; align-items: center; height: 97px;}
.footer-nav a {color: #fff; text-decoration: none;}